<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.applications.any? %>
      <h3>Applications (<%= @user.applications.count %>)</h3>
        <ol class="applications">
          <%= render @applications %>
        </ol>
      <%= will_paginate @applications %>
    <% end %>
  </div>
</div>