<%= form_for(@application) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :description, placeholder: "Describe your application here.." %>
    <%= f.text_area :APIkey, placeholder: "You will recieve an API-key when the application is registered." %>
  </div>
  <%= f.submit "Register new application", class: "btn btn-primary" %>
<% end %>